backup_votes.csv
# database
mydatabase
*.py.save
# migrations
migrations/

#oauth secerts
voter.csv
# contestant.csv
*.pyc
images/
static/agenda
static/contestants*
electioniitg/settings.py
f.csv
Dhansiri.csv
contestant.csv
contestnt.csv
contestant.csv
contestant.csv
