{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

    <title>Gymkhana Elections 2021</title>
</head>
<body>
    <div class="partition hidden xl:block"></div>
    
    <div class="flex flex-wrap px-0 sm:px-0 container mt-0 sm:mt-10 xl:mt-10 2xl:mt-32">
        <div class="sm:w-1/2">
            <!-- <a href="#"><img class="sm:p-10 sm:h-auto" src="{% static 'icons/Logo_Vote.svg' %}"></a> -->
            <a href="https://www.iitg.ac.in/"><img class="pl-10 mt-16 mb-6 sm:mb-0 sm:p-10 h-16 sm:h-auto" src="{% static 'icons/Logos.svg' %}" alt=""></a>
            <p class="w-1/2 text-6xl sm:text-6xl md:text-7xl lg:text-8xl font-bold pl-12">Gymkhana Elections 2021</p>
        </div>
        <div class="px-12 sm:pr-0 sm:pl-4 lg:px-6 xl:px-12 sm:w-1/2 space-y-2 text-gray-600 mt-0 sm:mt-20">
            <h3 class="rules-heading pt-10 pb-2 text-2xl">Instructions</h3>
            <p>1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis ipsum at convallis integer nibh arcu praesent tellus. Dictum lacus quisque habitant convallis non scelerisque tortor a.</p>
            <p>2. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis ipsum at convallis integer nibh arcu praesent tellus. Dictum lacus quisque habitant convallis non scelerisque tortor a.</p>
            <p>3. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis ipsum at convallis integer nibh arcu praesent tellus. Dictum lacus quisque habitant convallis non scelerisque tortor a.</p>
            <p>4. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis ipsum at convallis integer nibh arcu praesent tellus. Dictum lacus quisque habitant convallis non scelerisque tortor a.</p>
            <p>5. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis ipsum at convallis integer nibh arcu praesent tellus. Dictum lacus quisque habitant convallis non scelerisque tortor a.</p>
            <p>6. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mattis ipsum at convallis integer nibh arcu praesent tellus. Dictum lacus quisque habitant convallis non scelerisque tortor a.</p>
            <div class="tandc">
                <label>
                    <input class="checkbox" required type="checkbox" name="accept_t_and_c" id="accept_t_and_c">
                    <span class="text-black text-lg mt-6 text-gray-600">I agree with the above terms and conditions</span>
                </label>
            </div>
            <div class="conclusion">
                <!-- <a class="privacy-policy" href="#">Read Privacy Policy</a> -->
                <button id="next-btn" type="button" class="transition mt-6 mb-20 login_button relative mx-auto font-bold text-black bg-white border-2 border-black py-4 px-12 focus:outline-none hover:bg-blue-600 hover:text-white rounded text-lg z-60"><a href="{% url 'django_auth_adfs:login' %}"><span>Login with outlook</span></a></button>
                <!-- <button id="next-btn" type="button" class="relative mr-10 sm:mr-auto place-self-center bg-black text-white h-14 w-60 py-5 text-lg text-center rounded-sm next-btn"><a href="{% url 'django_auth_adfs:login' %}"><span id="button_text">Login with outlook</span></a></button> -->
                <!-- <button class="center buton" style="cursor: pointer;" type="button"></button> -->
            </div>
        </div>
    </div>

    <script>
        $("#next-btn").click(function (e) { 
            e.preventDefault();
            if ($("#accept_t_and_c").prop('checked') == true) {
                window.location.href = "{% url 'django_auth_adfs:login' %}";
            } else {
                M.toast({html: 'Please agree with the Terms and Conditions first!', classes: 'toast'})
            }
        });
    </script>
</body>
