$secondary-color: #FEBD09;

@import "materialize-css/sass/components/variables";

.partition {
    position: absolute;
    left: 54.06%;
    top: 0%;
    bottom: 0%;
    width: 19.9px;
    height: 100%;

    background-color: #2E2F2F;
}

.logo-vote {
    position: relative;
    top: 35.99px;
    left: 135.04px;
    height: 40px;
    /* width: 41.81px; */
}

.logo-iitg {
    position: relative;
    top: 208.15px;
    left: 30px;
    height: 70px;
}

.election-titile {
    position: relative;
    left: 123px;
    top: 200px;
    width: 45%;

    font-family: Atkinson Hyperlegible;
    font-weight: bold;
    font-size: 96px;
    line-height: 101px;
}

.rules-heading {
    font-family: Atkinson Hyperlegible;
    font-weight: bold;
    font-size: 36px;
    line-height: 38px;
    text-align: left;

    color: #2E2F2F;
}

div.right-col.col.s6 {
    padding-top: 8%;
    width: 45%;
    float: right;
    padding-right: 5%;
    padding-left: 5%;

    font-family: Atkinson Hyperlegible;
    font-size: 18px;
    line-height: 19px;

    color: #2E2F2F;
}

p {
    text-align: justify;
}

.tandc {
    text-align: left;
}

div.conclusion {
    margin-top: 8%;
    text-align: left;
}

.buton {
    background-color: #2E2F2F;
    border-radius: 25px;
    width: 300px;
    height: 45px;
    vertical-align: center;
    line-height: 0px;
    border: 0px;
    padding-bottom: 0px;
    position: relative;
    left: 25%;

    appearance: button;
    /* -webkit-writing-mode: horizontal-tb !important; */
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
  }
  
  #button_text {
    font-family: Atkinson Hyperlegible;
    font-size: 24px;
    line-height: 25px;

    color: #FFFFFF;
  }

.toast {
    position: relative;
    right: 25%;
}

  /* .privacy-policy {
    position: relative;
    top: 9px;

    font-family: Atkinson Hyperlegible;
    font-size: 18px;
    line-height: 19px;

    color: #000000;
    text-decoration-line: underline;
  } */
