/* Updated */

html, body {

    width: 100vw;
    height:100%;
    margin-bottom: 80px;
    overflow: scroll;
-webkit-overflow-scrolling: touch;
}


@media (max-width: 640px) {
    html, body {
        /* position: fixed; */
        width: 100vw;
        /* height: 120vh; */
    }
}
 #canvas_container{
/*         transform: scale(0.95,0.95); */
        margin-top: -54px;
    }
@media (max-width: 1024px) {
    #canvas_container{
        transform: scale(0.95,0.95);
        margin-top: -24px;
    }
}

@media (max-width: 768px) {
    #canvas_container{
        transform: scale(0.80,0.80);
        margin-left: -96px;
        margin-top: -42px;
       }
}
@media (max-width: 640px) {
    #canvas_container{
        transform: scale(0.6,0.6);
        margin-left: -120px;
/*         margin-top: -px; */
       }
       .details{
        margin-top: -100px;
        padding-left: 24px;
    }   
}
@media (max-width: 516px) {
    #canvas_container{
        transform: scale(0.45,0.45);
        margin-left: -216px;
        margin-top: -140px;
       }
       .details{
        margin-top: -132px;
        padding-left: 0px;
    }   
   

}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../fonts/regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Bold';
    src: url('../fonts/bold.ttf') format('truetype');
}

.font-ah {
    font-family: Atkinson Hyperlegible;
}

.font-bold {
    font-family: Atkinson Hyperlegible Bold;
}

.text-gray-600{
    font-family: Atkinson Hyperlegible;
    color: #4C4D4D;
  }

.text-black-500 {
    font: #2E2F2F;
}
.bg_black{
    
}

#video {
    /* position: absolute; */
    /* left: 35%; */
    /* top: 19.5%; */
    z-index: 1;
}
.inside-shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    /* box-shadow:         inset 0 0 10px #000000; */
    box-shadow:  10px 0 0 rgba(255, 255, 255, 0), 10px 0 0 rgba(255, 255, 255, 0) , 10px 0 0 rgba(255, 255, 255, 0)
 }

#canvas {
    /* position: absolute;
    top: 100%;
    top: 20%;
    left: 35%; */
    z-index: 0;
}

.custom-font {
    font-family: Atkinson Hyperlegible;
    color: rgba(46, 47, 47, 0.57);
}

#continueBtn:disabled {
    opacity: 0.5;
    color: #c0c0c0;
    background-color: #ffffff;
    border-color: #c0c0c0;
}

button:focus {
    outline: none;
    background-color: rgba(37,99,235);
}

.bg-black-50 {
    background-color: #2E2F2F;
}

.bg-orange-500:hover {
    background-color: #f08a4b;
}