#video {
    /* position: absolute; */
    /* left: 35%; */
    /* top: 19.5%; */
    z-index: 1;
}

#canvas {
    /* position: absolute;
    top: 100%;
    top: 20%;
    left: 35%; */
    z-index: 0;
}

.custom-font {
    font-family: Atkinson Hyperlegible;
    color: rgba(46, 47, 47, 0.57);
}

#continueBtn:disabled {
    opacity: 0.5;
    color: #c0c0c0;
    background-color: #ffffff;
    border-color: #c0c0c0;
}

/* @media (width <= 640px) {
    .grid {
        display: grid;
        grid-template-rows: repeat(6, minmax(0, 1fr));
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .col-start-1 {
