body, html {
    background-color: #F08A4B;
    height: 100%;
}

.sorry-msg {
    position: relative;
    top: 40%;
}

@media (min-width: 768px) {
    .sorry-msg {
        padding-left: 15% !important;
    }
}

@media (min-width: 1024px) {
    .sorry-msg {
        padding-left: 22% !important;
    }
}

@media (min-width: 1280px) {
    .sorry-msg {
        padding-left: 25% !important;
    }
}

@media (min-width: 1536px) {
    .sorry-msg {
        padding-left: 30% !important;
    }
}

