@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../fonts/regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Bold';
    src: url('../fonts/bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../fonts/regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Atkinson Hyperlegible Bold';
    src: url('../fonts/bold.ttf') format('truetype');
  }
  
  .font-ah {
    font-family: Atkinson Hyperlegible;
  }
  
  .font-bold {
    font-family: Atkinson Hyperlegible Bold;
  }  

.bg-gray-50:hover{
    background-color: #EAEAEA;
}

.text-gray-800{
    color: #4C4D4D;
}

.bg-black{
    background-color: #2E2F2F;
  }

.bg-blue-500{
    background:#2B00FF;
}

.font-ah {
    font-family: Atkinson Hyperlegible;
}

.font-bold {
    font-family: Atkinson Hyperlegible Bold;
}

body, html {
    background-color: #FFF3F0;
    height: 100%;
}

.created_by {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 4%;
    font-size: 1.1em;
    font-family: Atkinson Hyperlegible;
    font-style: normal;
    font-weight: normal;
    color: black;
    /* background-color: #2B00FF; */
  }
  
