@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../fonts/regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Atkinson Hyperlegible Bold';
    src: url('../fonts/bold.ttf') format('truetype');
}

.font-ah {
    font-family: Atkinson Hyperlegible;
}

.font-bold {
    font-family: Atkinson Hyperlegible Bold;
}

body, html {
    background-color: #F08A4B;
    height: 100%;
}

.sorry-msg {
    position: relative;
    top: 37%;
}

@media (min-width: 768px) {
    .sorry-msg {
        padding-right: 15% !important;
        padding-left: 15% !important;
    }
}

@media (min-width: 1024px) {
    .sorry-msg {
        padding-right: 22% !important;
        padding-left: 22% !important;
    }
}

@media (min-width: 1280px) {
    .sorry-msg {
        padding-right: 25% !important;
        padding-left: 25% !important;
    }
}

@media (min-width: 1536px) {
    .sorry-msg {
        padding-left: 30% !important;
        padding-right: 30% !important;
    }
}

