<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Gymkhana Elections 2021</title>
</head>
<body>
    <div class="w-full text-white text-3xl sm:text-4xl px-10 sorry-msg text-white">
        Your Response has already been saved!
        <br>
        <br>
        You needn't worry and may Logout :)
        <br>
        <br>
        <div class="text-center">
            <button
              class="vote__button transition text-lg font-ah inline-flex bg-black text-white border-0 py-4 px-8  focus:outline-none hover:bg-blue-600 rounded md:mt-0"
            >
                <a href="{% url 'django_auth_adfs:logout' %}">Logout</a>
            </button>
        </div>
    </div>
</body>
</html>