<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Gymkhana Elections 2021</title>
</head>
<body>
    <div class="w-full text-white text-3xl sm:text-4xl px-10 sorry-msg text-white">
        Your Response has already been saved!
        <br>
        <br>
        You needn't worry :)
    </div>
</body>
</html>