<!DOCTYPE html>
{% load static %}
<html lang="en" class="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/thanks.css' %}">
    <title>Gymkhana Elections 2021</title>
</head>
<body>
    <div class="w-full thank-you text-white text-center text-3xl px-5">
        <span>Your Votes have been submitted</span>
        <br>
        <br>
        <span class="text-2xl">You are adviced to close all the tabs in your browser window</span>
        <br>
        <div class="h-10"></div>
        <span>Thank You</span>
        <div class="h-5"></div>
        <p class="text-2xl">Add <span class="text-or">this</span> to your story and tag your friends to go and vote</p>
        <div class="h-7"></div>
        <button
          class="bg-orange transition text-lg font-ah text-white border-0 rounded-3xl py-1 px-8 focus:outline-none hover:bg-blue-600 rounded md:mt-0"
        >   
            <a href="#" id="share">Download</a>
        </button>
        <div class="h-7"></div>
        <button type="button" class="font-ah text-white border-4 rounded-full border-white py-4 px-20 md:px-40 hover:bg-blue-600 bg-black-new text-white text-lg"><a href="{% url 'stats' %}"><span>View Stats</span></a></button>
    </div>
    <script>
        $(document).ready(function () {
            let links = [
                "{% static 'Blue.jpg' %}",
                "{% static 'Yellow.jpg' %}",
                "{% static 'Green.jpg' %}", 
                "{% static 'Pink.jpg' %}"
            ];
            let random_num  = Math.floor(Math.random() * 4);
            $("#share").attr("href", links[random_num]);
        });
    </script>
</body>
</html>
