{% extends "base_copy.html" %}
{% load static %}
{% load tags %}
{% block designation %}
    {{post}}
{% endblock designation %}

{% block designation_info %}
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
{% endblock designation_info %}

{% block save_and_next %}
  <form method="post"><!-- onsubmit="call_post_req()" -->
    {% csrf_token %}
    <div class="inline mt-10 pr-7 2xl:pr-80 sm:pr-auto pl-7 sm:pl-7 space-y-4 voter-list-btn">
      <button id="next-btn" type="submit" class="relative mr-10 sm:mr-auto float-right bg-black text-white h-14 w-48 text-lg text-center font-bold rounded-sm next-btn">Next</button>
      <button id="nota" type="button" onclick="voteClick('{{contestantList.0.post}}')" class="lg:float-right relative bottom-4 mr-5 bg-custom text-custom h-14 w-48 text-lg text-center font-bold rounded-sm next-btn">NOTA</button>
    </div>
    <input type="hidden" name="choice" id="res">
    <div class="p-4 w-full text-lg text-right info-block text-gray-600 hidden" style="background-color: #f9f9f969;">
      <div class="w-1/2 float-right">
        You have opted for <span class="opted-for font-bold"></span>.
        <!-- <br> -->
        Click on Next to confirm your choice. You may review and modify your choices at the end.
      </div>
    </div>
  </form>

{% endblock save_and_next %} 

{% block content %}
{{ pks|json_script:"pks-data" }}
  <ul class="nota-effect space-y-4 sm:space-y-0 sm:flex sm:space-x-4">
      {% for i in contestantList %}
        <li id="{{i.pk}}"
          class="custom-li hover:shadow transition-colors duration-300 ease-in-out bg-gray-50 border-2 border-black pl-4 rounded-md flex space-x-4"
        >
          <span  class="py-4 flex flex-wrap content-center ">
            <span id = "action_box_container_{{i.pk}}"
              class=" transition-opacity duration-500 ease-in-out absolute m-auto border border-black rounded-md bg-gray-100 text-base font-bold px-3 py-2 ">
              <span id="text_{{i.pk}}" class="hidden" >Vote for</span><span id="index_{{i.pk}}">{{forloop.counter|to_char}}
              </span>
            </span>
          </span>
          <span class="py-6">
            <span><img
                class="rounded-sm"
                width="130"
                src="{% static i.pic %}" />
            </span>
          </span>
          <span class="py-6"
            ><p class="text-xl name_{{i.pk}} font-bold text-gray-800">{{i.name}}</p>
            <ul
              class="font-medium max-w-md space-y-1 text-1xl pt-2 text-gray-600"
            >
              <li>{{i.agenda1}}</li>
              <li>{{i.agenda2}}</li>
              <li>{{i.agenda3}}</li>
              <li>{{i.agenda4}}</li>
            </ul>
          </span>
        </li>
        {% if forloop.counter|divisibleby:2 %}
          </ul>
          <ul class="nota-effect space-y-4 sm:space-y-0 sm:flex sm:space-x-4">
        {% endif %}
      {% endfor %}
  </ul>
  <script>
    function voteClick(the_chosen_one) {
      
      document.getElementById("res").value = the_chosen_one;
      // console.log(the_chosen_one);
    }

    // function call_post_req(){
    //   post_req(vote_chosen);
    // }
  

    // function post_req(data) {
    //     var allCookies = document.cookie;
    //     var csrf = allCookies.substring(10);
    //     var postdata = {
    //         choice: data,
    //         'csrfmiddlewaretoken': csrf
    //     };
    //     $.post('/voter/vote/', postdata);
    // }
  </script>
{% endblock content %}

{% block vote_js %}  
  <script>
    $(document).ready(function () {
      var ids = JSON.parse(document.getElementById('pks-data').textContent);
      getIds(ids);
      setProgress('{{post}}', {{request.session.total_no}});
    });
  </script>
  
  <script src="{% static 'js/vote.js' %}"></script>
{% endblock vote_js %}

