@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../fonts/regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Atkinson Hyperlegible Bold';
    src: url('../fonts/bold.ttf') format('truetype');
  }
  
  .font-ah {
    font-family: Atkinson Hyperlegible;
  }
  
  .font-bold {
    font-family: Atkinson Hyperlegible Bold;
  }  

.bg-gray-50:hover{
    background-color: #EAEAEA;
}

.text-gray-800{
    color: #4C4D4D;
}

.bg-black{
    background-color: #2E2F2F;
  }

.bg-blue-500{
    background:#2B00FF;
}